body {
    color: white;
    background-color: rgb(39, 39, 39);
}

textarea {
    color: white;
    background-color: rgb(39, 39, 39);

    width: 100%;
    resize: none;
}

h1 {
    margin-bottom: 0%;
    text-shadow: 1.5px 1.5px 2px #000000;

    width: 100%;
    text-align: center;
}

hr {
    margin-top: 8px;
    margin-bottom: 5%;
}

p {
    font-size: large;
    margin-bottom: 2%;

    text-align: center;
}

#content {
    width: fit-content;
    margin: auto;
}

#recipe-area {
    width: fit-content;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 85% 15%;
}

#recipe-area label {
    grid-column-start: 1;
    grid-column-end: 2;

    font-size: 18pt;
    margin-right: 16px;

    text-align: right;
}

#recipe-area textarea {
    grid-column-start: 2;
    grid-column-end: 3;
}

#scale-button {
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 16px;
    height: 100%;

    background-color: #1c3e60;
    color: white;
    border: 2px solid #24507d;
}

#scale-button:hover {
    background-color: #24507d;
}

#scale-button:active {
    background-color: #28598a;
}

.section {
    width:fit-content;
    margin: auto;
}