body {
    color: white;
    background-color: rgb(39, 39, 39);
}

textarea {
    color: white;
    background-color: rgb(39, 39, 39);

    width: 25%;
    resize: none;
}

label {
    font-size: large;
    margin-right: 3%;
}

.section {
    display: flex;
    align-items:flex-start;
}